@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

span.error {
    color: #f30000;
    font-size: 14px;
}

.authorDetails {
    padding-top: 75px;
}

.authorDetails .row .col-lg-8 .card {
    flex-direction: row;
}

.authorDetails .row .col-lg-8 .card img {
    width: 185px;
    height: 185px;
}
.authorDetails .row .col-lg-8 .card .card-body {
    padding: 1rem;
}

.authorDetails .row .col-lg-8 .card .card-body p {
    margin: 0;
}

.postComments .row .col-lg-8 h3 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.commentCard {
    flex-direction: row!important;
    margin-bottom: 20px;
}

.commentCard img {
    width: 100px;
    height: 100px;
}

.commentCard > .card-body {
    padding: 10px 0 0 15px!important;
}

.commentCard > .card-body > .card-title {
    margin-bottom: 0;
}

.commentCard > .card-body > .card-text {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 17px;
}

.commentCard > .card-body > .time {
    font-size: 14px;
}

.userProfileImage > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.post-preview a .post-title {
    font-size: 32px !important;
}